//Variables for reusable colors
$color: #10b0af;
$color_light: #d9f2f2;
$color_dark: #027f7e;
$accent_colorLight: white;
$accent_colorDark: #596d83;
$highlight_light: #cafcfc;
$highlight: #54ffff;
$shadow: #ccc;
$color_alert: #bd2297;
$color_blue: #2984e3;